* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 72px;
    color: rgb(238, 217, 252);
    text-shadow: 3px 3px 50px rgb(153, 49, 244);
}

nav {
    position: sticky;
    top: 0;
    background-color: rgb(16, 3, 24);
    color: rgb(238, 217, 252);
    text-align: center;
}

footer {
    background-color: rgb(16, 3, 24);
    color: rgb(238, 217, 252);
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    box-sizing: border-box;

    background: linear-gradient(rgb(38, 3, 61), rgb(90, 3, 120));
}

form {
    display: flex;
    flex-direction: column;
}

canvas {
    display: block;
    width: 100%;
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    width: 100%;
    height: 15px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

progress::-webkit-progress-bar {
    background-color: #3b224c;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #eed9fc;
    border-radius: 10px;
}

progress::-moz-progress-bar {
    background-color: #eed9fc;
    border-radius: 10px;
}

html {
    scrollbar-color: #653783 #27073e;
    scrollbar-width: thin;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center-content {
    width: 40vw;
}

.side-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(35, 4, 54);
    padding: 20px;
    border-radius: 10px;
    height: 50vh;
    width: 20vw;
    box-shadow: 5px 5px 10px rgb(54, 4, 84);
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(238, 217, 252);
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 20px;
    padding: 30px 20px;
}

.button {
    background-color: rgb(238, 217, 252);
    color: rgb(38, 3, 61);
    border: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    padding: 5px;
    border-radius: 7px;
    transition: 0.25s ease;
}

.button:hover {
    background-color: rgb(201, 153, 233);
    box-shadow: 5px 5px 12px rgb(59, 12, 91);
    cursor: pointer;
    transform: scale(1.1);
}

.button:active {
    background-color: rgb(174, 102, 222);
}

.input-field {
    background-color: rgb(35, 4, 54);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    color: rgb(238, 217, 252);
    margin: 10px;
    border: 0px;
    padding: 5px;
    border-radius: 5px;
}

.input-field::-webkit-inner-spin-button,
.input-field::-webkit-outer-spin-button {
    filter: invert(87%) sepia(18%) saturate(1210%) hue-rotate(220deg) brightness(101%) contrast(98%);
    opacity: 1;
    cursor: pointer;
}

.input-field {
    scrollbar-color: #eed9fc transparent;
}

.side-board-list {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    color: rgb(238, 217, 252);
    gap: 12px;
    padding: 0px;
    padding-right: 20px;
    list-style-type: none;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow-x: hidden
}

.side-board::-webkit-scrollbar,
.side-board-list::-webkit-scrollbar {
    width: 8px;
}

.side-board::-webkit-scrollbar-track,
.side-board-list::-webkit-scrollbar-track {
    background: rgb(60, 6, 93);
    border-radius: 10px;
}

.side-board::-webkit-scrollbar-thumb,
.side-board-list::-webkit-scrollbar-thumb {
    background: rgb(110, 22, 173);
    border-radius: 10px;
}

.chart-container {
    width: 100%;
    margin: 20px auto;
    background-color: #23162c;
    padding: 20px;
    border-radius: 8px;
}

#main-summary {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    color: rgb(238, 217, 252);
}

#comments-input {
    resize: none;
}

#expenses-details-center-content {
    width: 70vw;
}

#expenses-details-list {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: rgb(238, 217, 252);
    gap: 12px;
    padding: 0px;
    padding-right: 20px;
    list-style-type: none;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow-x: hidden
}

#charts-panel-center-container {
    width: 70vw;
}